body {
    padding-top: 10px;
}

.pressable {
    cursor: pointer;
}

.striped {
    background-color: #CCCCCC;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.container-fixed {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.container {
    width: 100%;
}

.selected {
    background-color: #999999;
}

.metadata p {
    font-size: 16px;
    margin-top: 30px;
}

.playable:hover {
    -webkit-filter: brightness(1.5);
}

@keyframes play-animation {
    0%   {-webkit-filter: brightness(1);}
    50%  {-webkit-filter: brightness(1.5);}
    100% {-webkit-filter: brightness(1);}
}

.playing {
    animation: play-animation 1s infinite;
}